@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,600&display=swap');

:root {
    --main-color: #fdcb6e;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
}

.heading-1 {
    font-size: 3.6rem;
    text-transform: uppercase;
}

.heading-2 {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-3 {
    font-size: 2rem;
    font-weight: 600;
}

.heading-4 {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 300;
}

.heading-5 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

.weighed {
    font-style: italic;
    font-weight: 600;
    color: #ffbb3c;
}

@media (max-width: 500px) {
    .heading-1 {
        font-size: 3.2rem;
    }

    .heading-3 {
        font-size: 1.8rem;
    }

    .heading-4 {
        font-size: 1.6rem;
    }
}

@media (max-width: 400px) {
    .heading-1 {
        font-size: 2.8rem;
    }

    .heading-3 {
        font-size: 1.7rem;
    }

    .heading-4 {
        font-size: 1.5rem;
    }
}
