.About {
    padding: 1rem 3rem;
    height: 66vh;
    grid-column: full-start / full-end;

    display: flex;

    &__image {
        height: 90%;
        width: auto;

        &__container {
            width: 50%;
            padding: 2rem;
        }
    }
}
