.About {
    padding: 1rem 3rem;
    height: 62vh;
    grid-column: full-start / full-end;

    display: flex;

    &__image {
        margin-left: 10%;
        height: 80%;
        width: auto;

        &__container {
            width: 50%;
            padding: 2rem;
        }
    }
}
